$:{RENDER("common/stage_title.html", ["Disable Two-Factor Authentication", "Settings"])}

<div class="content form clear">
  <h3>Disable Two-Factor Authentication</h3>
  <p>Username: $:{LOGIN()}</p>
  <p>
    You are about to disable Two-Factor Authentication for the above account, and remove the
    security which it provides. If you wish to re-enable Two-Factor Authentication, you will
    need to go through through the enabling process once again.
  </p>
  <form method="POST" class="form skinny clear" action="/tfa/tfa_disable">
    <label for="disable-tfa">Time-based token or Recovery code</label>
    <input type="text" class="input" maxlength="20" id="disable-tfa" name="tfaresponse" />
    <input class="checkbox" type="checkbox" name="verify2fdisable"><label for="verify-enable">Disable Two-Factor Authentication</label></input>

    $:{CSRF()}
    <div style="padding-top: 1em;">
      <button class="button negative" name="action" value="cancel">Cancel</button>
      <button class="button positive" name="action" value="enable">Enable Two-Factor Authentication</button>
    </div>
  </form>
</div>
