$def with (tags)
$:{RENDER("common/stage_title.html", ["Edit Searchtag Blacklist", "Settings"])}

<div id="usersearchtagblacklist-content" class="content form clear">
  <form method="POST" class="form skinny clear" action="/control/editsearchtagblacklist">
    $:{CSRF()}
    <h3>Searchtag Blacklist Information</h3>
    <p>
      Tags you add here will not be able to be added to your submitted items by
      other users. You may still add these tags to your submissions. One wildcard per 
      entry is permitted, in any position, and will cause any tag which matches the 
      omitted characters to be blocked; entries with a wildcard must have at least 
      two alphanumeric characters.
      Examples of valid blacklist tags are as follows:
    </p>
    <p>
      <ul>
        <li><code>mu*</code> - Blocks <em>mu<strong>rmurs</strong></em>, mu<strong>zzle</strong></em>, or similar.</li>
        <li><code>p*e</code> - Blocks <em>p<strong>eregrin</strong>e</em>, p<strong>lumag</strong>e</em>, or similar.</li>
        <li><code>*us</code> - Blocks <em><strong>superstitio</strong>us</em>, <em><strong>outrageo</strong>us</em>, or similar.</li>
        <li>Standard tags may also be used, such as: <code>red_fox</code> or <code>hermaphrodite</code>.</li>
      </ul>
    </p>

    <label for="detail_tag_form_content">Add or Remove Tags:</label><br />
    <textarea id="tags-textarea" name="tags">${" ".join(tags)}</textarea>
    <div style="padding-top: 1em;">
      <button class="button positive" style="float: right;">Save Tags</button>
    </div>
  </form>
</div>
